   <ul>
      <li><%= @job.company_name %></li>
      <li><%= @job.company_description %></li>
      <li><%= @job.company_size %></li>
      <li><%= @job.location %></li>
      <li><%= @job.job_description %></li>
   </ul>
