<div class="show-job">
  <div class="card">
    <div class="card-body">
      <p class="card-title">Job Title: <%= @job.job_title %></p>
      <p class="card-text">Company Name: <%= @job.company_name %></p>
      <p class="card-text">Company Description: <%= @job.company_description %></p>
      <p class="card-text">Size: <%= @job.company_size %></p>
      <p class="card-text">Location: <%= @job.location %></p>
      <p class="card-text">Job Description: <%= @job.job_description %></p>
      <p class="card-text">Salary: <%= @job.salary %></p>
      <%= link_to "Apply now", job_job_applications_path(@job), data: { turbo_method: :post }, class: "btn btn-primary", style: "width:200px;" %>


      <% unless Favourite.where(job: @job, user: current_user).last %>
        <p>This job is already in your Favourites.</p>
        <%= link_to "Remove from Favourites", favourite_path(@already_favourited), data: {turbo_method: :delete } %>
      <% else %>
        <%= button_to job_favourites_path(@job), class:"fav_button" do %>
                  <i class="fa-solid fa-heart"></i>
      <% end %>
      <% end %>
    </div>
  </div>

</div>
