<div class="show-job">
  <ul>
    <h5>Job Title: </h5>
    <li><%= @job.job_title %></li>
    <h5>Company Name: </h5>
    <li><%= @job.company_name %></li>
    <h5>Company Description: </h5>
    <li><%= @job.company_description %></li>
    <h5>Size: </h5>
    <li><%= @job.company_size %></li>
    <h5>Location: </h5>
    <li><%= @job.location %></li>
    <h5>Job Description: </h5>
    <li><%= @job.job_description %></li>
    <h5>Salary: </h5>
    <li><%= @job.salary %></li>
  </ul>
</div>
<%# need to find out how to display the info above in a row, instead of name on top, info at the bottom %>
