<% if current_user.employer? %>
<div class="card">
<div class= "container d-flex card-job-application">
    <div class="user-info">
      <h1>About You</h1>
       <h2>Name: <%= current_user.username %></h2>
       <p><span>Email:  </span><%= current_user.email %></p>
      <p><span>Company Name:  </span><%= current_user.company_name %></p>
      <p><span>Experience:  </span> <%= current_user.experience %></p>
      <p><span>Location:  </span> <%= current_user.location %></p>
      <p><span>Description:  </span> <%= current_user.company_description %></p>
      <p><span>Skills:  </span> <%= current_user.skills %> </p>
    </div>
    <div class="card-job-application-right">
      <div class="title">
          <h3>Job Applicatants</h3>
      </div>
        <div class="job-applied">
            <h5>Pending: </h5>
           <% unless @pending_applications.empty? %>
                  <% @pending_applications.each do |application| %>
                      <div class="card-product" id="border-width">
                       <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                             <div class="card-product-infos">
                                 <h3> <%= application.job.job_title %> </h3>
                                 <p><%= application.job.company_name %></p>
                                 <p> Status: <%= application.status %> </p>
                              </div>
                            <%= link_to "View Application", edit_job_application_path(application) , class:"card-edit"%>
                      </div>
                  <%end%>
          <% else %>
                  <div style="border: 1px solid #5FA8D3; margin:20px"class="card-product">
                    <div class="card-product-infos">
                    <p>No current pending applications</p>
                    </div>
                  </div>
          <% end %>
        </div>
      <div class="confirmed">
          <h5>Confirmed: </h5>
          <div class="cards-job-application">
              <% unless @confirmed_applications.empty? %>
                <% @confirmed_applications.each do |application| %>
                    <div class="card-product" id="border-width">
                     <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>  <div class="card-product-infos">
                            <h2><%= application.job.job_title %> -<%= application.status %></h3>
                            <p><%= link_to "View Application", job_application_path(application) %></p>
                          </div>
                      </div>
                <% end %>
            </div>
            <% else %>
            <div class="card-product-infos">
            <p>No current confirmed applications</p>
          </div>
          <% end %>
        </div>
     </div>
      </div>
  <% else %>
<div class= "container d-flex card-job-application">
    <div class="user-info">
        <h1>About You</h1>
        <h4>Name: <%= current_user.username %></h4>
        <p><span>Email:  </span><%= current_user.email %></p>
        <p><span>Company Name:  </span><%= current_user.company_name %></p>
        <p><span>Experience:  </span> <%= current_user.experience %></p>
        <p><span>Location:  </span> <%= current_user.location %></p>
        <p><span>Description:  </span> <%= current_user.company_description %></p>
        <p><span>Skills:  </span> <%= current_user.skills %> </p>
     </div>
    <div class="card-job-application-right">
        <div class="title">
          <h3>Your Applications</h3>
        </div>
        <div class="pending">
            <h5>Pending: </h5>
            <% unless @pending_applications.empty? %>
              <% @pending_applications.each do |application| %>
                 <div class="card-product" id="border-width">
                     <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                     <div class="card-product-infos">
                      <%= application.job.job_title %> - <%= application.status %>
                     </div>
                </div>
              <% end %>
              <% else %>
              <div style="border: 1px solid #5FA8D3; margin:20px"class="card-product">
                  <div class="card-product-infos">
                    <p>No current pending applications</p>
                  </div>
              </div>
            <% end %>
        </div>
        <div class="confirmed">
            <h5>Confirmed:</h5>
            <% unless @confirmed_applications.empty? %>
              <% @confirmed_applications.each do |application| %>
                <div class="card-product" id="border-width">
                   <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                     <div class="card-product-infos">
                        <%= application.job.job_title %> - <%= application.status %>
                        <%= link_to "View Application", job_application_path(application) %>
                     </div>
                </div>
              <% end %>
            <% else %>
            <div style="border: 1px solid #5FA8D3; margin:20px"class="card-product">
                  <div class="card-product-infos">
                    <p>No current confirmed applications</p>
                   </div>
            </div>
            <% end %>
        </div>
  </div>
</div>
</div>
<% end %>
