<% if current_user.employer? %>
<div class="card">
<div class= "container d-flex card-job-application">
    <div class="user-info">
      <h2>About You</h2>
      <div class="profile-card-user-info">
         <h6><i class="fa-solid fa-user"></i>        <%= current_user.username %></h6>
         <h6><i class="fa-solid fa-phone"></i>      <%= current_user.phone_number %></h6>
         <h6><i class="fa-solid fa-envelope"></i>    <%= current_user.email %></h6>
       </div>
       <div class="profile-card-user-info">
         <h6><i class="fa-solid fa-briefcase"></i>     <%= current_user.job_experience %></h6>
          <h6><i class="fa-solid fa-business-time"></i>  <%= current_user.experience %></h6>
          <h6><i class="fa-solid fa-location-dot"></i>   <%= current_user.location %></h6>
       </div>
       <div class="profile-card-user-info">
         <p><span>Skills:  </span> <%= current_user.skills %> </p>
         </div>
      </div>
    <div class="card-job-application-right">
      <div class="title">
          <h3>Job Applicatants</h3>
      </div>
        <div class="job-applied">
            <h5>Pending: </h5>
           <% unless @pending_applications.empty? %>
                  <% @pending_applications.each do |application| %>
                      <div class="card-product" id="border-width">
                       <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                             <div class="card-product-infos application-card">
                              <div class="application-card-title">
                                 <h2> <%= application.job.job_title %> </h2>
                                 <p><%= application.job.company_name %></p>
                              </div>
                               <div class="status">
                                    <p> <span style="font-weight: 600">Status:</span> <%= application.status %> </p>
                                    <p class="view-application-button"><%= link_to "View Application", edit_job_application_path(application)%></p>
                               </div> </div>
                      </div>
                  <%end%>
          <% else %>
                  <div style="border: 1px solid #5FA8D3; margin:20px; font-weight: 500; justify-content: space-evenly; font-size: 20px"class="card-product">
                    <div class="card-product-infos">
                    <p>No current pending applications</p>
                    </div>
                  </div>
          <% end %>
        </div>
      <div class="confirmed">
          <h5>Confirmed: </h5>
          <div class="cards-job-application">
              <% unless @confirmed_applications.empty? %>
                <% @confirmed_applications.each do |application| %>
                    <div class="card-product" id="border-width">
                     <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                              <div class="card-product-infos application-card">
                                  <div class="application-card-title">
                                    <h2><%= application.job.job_title %></h2>
                                    <p><%= application.job.company_name%><p>
                                  </div>
                                  <div class="status">
                                    <p> <span style="font-weight: 600">Status:</span> <%= application.status %> </p>
                                    <p class="view-application-button"><%= link_to "View Application", job_application_path(application) %></p>
                                  </div>
                             </div>

                      </div>
                <% end %>
            </div>
            <% else %>
             <div style="border: 1px solid #5FA8D3; margin:20px; font-weight: 500; justify-content: space-evenly; font-size: 20px;"class="card-product">
                <div class="card-product-infos">
                <p>No current confirmed applications</p>
              </div>
            </div>
          <% end %>
        </div>
     </div>
      </div>
  <% else %>
<div class= "container d-flex card-job-application">
    <div class="user-info">
        <h2>About You</h2>
        <div class="profile-card-user-info">
            <h6><i class="fa-solid fa-user"></i>        <%= current_user.username %></h6>
            <h6><i class="fa-solid fa-phone"></i>      <%= current_user.phone_number %></h6>
            <h6><i class="fa-solid fa-envelope"></i>    <%= current_user.email %></h6>
            </div>
         <div class="profile-card-user-info">
            <h6><i class="fa-solid fa-briefcase"></i>     <%= current_user.job_experience %></h6>
             <h6><i class="fa-solid fa-business-time"></i> <%= current_user.experience %></h6>
              <h6><i class="fa-solid fa-location-dot"></i>   <%= current_user.location %></h6>
            </div>
         <div class="profile-card-user-info">
         <p><span>Skills:  </span> <%= current_user.skills %> </p>
         </div>
     </div>
    <div class="card-job-application-right">
        <div class="title">
          <h3>Your Applications</h3>
        </div>
        <div class="pending">
            <h5>Pending: </h5>
            <% unless @pending_applications.empty? %>
              <% @pending_applications.each do |application| %>
                 <div class="card-product" id="border-width">
                     <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                     <div class="card-product-infos application-card">
                        <div class="application-card-title">
                           <h2><%= application.job.job_title %></h2>
                           <p><%= application.job.company_name%><p>
                        </div>
                        <div class="status">
                           <p> <span style="font-weight: 600">Status:</span> <%= application.status %> </p>
                        </div>
                     </div>
                </div>
              <% end %>
              <% else %>
              <div style="border: 1px solid #5FA8D3; margin:20px; font-weight: 500; justify-content: space-evenly; font-size: 20px;"class="card-product">
                  <div class="card-product-infos">
                    <p>No current pending applications</p>
                  </div>
              </div>
            <% end %>
        </div>
        <div class="confirmed">
            <h5>Confirmed:</h5>
            <% unless @confirmed_applications.empty? %>
              <% @confirmed_applications.each do |application| %>
                <div class="card-product" id="border-width" style="height:auto">
                   <%= cl_image_tag application.job.photo.key if application.job.photo.attached? %>
                     <div class="card-product-infos application-card">
                         <div class="application-card-title">
                                    <h2><%= application.job.job_title %></h2>
                                    <p><%= application.job.company_name%><p>
                                    <div>
                                       <h6>Interview Info:</h6>
                                        <p> Time: <%= application.interview_date%></p>
                                        <p>Interviewer: <%= application.job.user.first_name%><p>
                                    </div>
                          </div>
                           <div class="status">
                                    <p> <span style="font-weight: 600">Status:</span> <%= application.status %> </p>
                                    <p class="view-application-button"><%= link_to "View Application", job_application_path(application) %></p>
                           </div>
                     </div>
                </div>
              <% end %>
            <% else %>
            <div style="border: 1px solid #5FA8D3; margin:20px; font-weight: 500; justify-content: space-evenly; font-size: 20px;"class="card-product">
                  <div class="card-product-infos">
                    <p>No current confirmed applications</p>
                   </div>
            </div>
            <% end %>
        </div>
  </div>
</div>
</div>
<% end %>
