<div class="container">
  <div class="main">

  <% if current_user.employer? %>
    <%= @job.job_title %>
    <%= @job_application.user.username %>
    <%= @job_application.user.skills %>
    <%= @job_application.user.education %>
    <%= @job_application.status %>


  <p><strong>Interview Completion:</strong> <%= @job_application.interview_completion ? "Yes" : "No" %></p>
  <% else %>
  <h1>Job Application Details</h1>

    <p><strong>Job Title:</strong> <%= @job.job_title %></p>
    <p><strong>Company:</strong> <%= @job.company_name %></p>
    <p><strong>Status:</strong> <%= @job_application.status %></p>
    <p><strong>Applicant's Name:</strong> <%= @job_application.user.first_name %></p>
    <p><strong>Applicant's Skills:</strong> <%= @job_application.user.skills %></p>
    <p><strong>Applicant's Education:</strong> <%= @job_application.user.education %></p>


    <% unless @job_application.status == 'confirmed' %>
      <p><strong>Interview Date:</strong> <%= @job_application.interview_date %></p>
      <p><strong>Interview Outcome:</strong> <%= @job_application.interview_outcome %></p>
    <% end %>

  <% end %>

  </div>

  <div class="main">
    <h1>Job Application Chat</h1>

  <%# <%= turbo_stream_from "job_application_#{@job_application.id}_messages" %>
  <div id="messages" class="messages">
    <% @job_application.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>

  <%= simple_form_for [@job_application, @message],
      html: {class: "d-flex",
          data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <% other_user = current_user == @job_application.job.user ? @job_application.user : @job_application.job.user %>
    <%= f.input :content,
      label: false,
      placeholder: "Message #{other_user.username}",
      wrapper_html: {class: "btn-chat-input"}
    %>
    <%= f.submit "Send", class: "btn-chat" %>
  <% end %>

  </div>
</div>
