<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
       <span style="color:#5FA8D3"><span style="color:#1B4965">Job</span> Connect </span>
    <%end%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
         <% if user_signed_in? && current_user.employer == true %>
          <li class="nav-item active">
            <%= link_to "All Job Listings", jobs_path, class: "nav-link" %>
          </li>
            <% else %>
          <li class="nav-item active">
            <%= link_to "Jobs", jobs_path, class: "nav-link" %>
          </li>
         <% end %>
          <% if user_signed_in? && current_user.employer == true %>
          <li class="nav-item">
            <%= link_to "Company Applications", job_applications_path, class: "nav-link nav-link-border" %>
          </li>
          <% elsif user_signed_in? && current_user.employer == false %>
          <li class="nav-item">
            <%= link_to "Your Applications", job_applications_path, class: "nav-link nav-link-border" %>
          </li>
            <% end %>
          <% if user_signed_in? && current_user.employer %>
          <li class="nav-item">
              <%= link_to "Recruiting? Post a job", new_job_path, class: "nav-link" %>
          </li>
         <% end %>
      </ul>
      <ul class="navbar-nav me-auto" style="margin-right:0px !important">
          <% if user_signed_in? && current_user.employer == false %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= favourites_path %>">
                <span>Saved Jobs</span>
                <i class="fa-solid fa-heart"></i>
                </a>
            </li>
          <% end %>

        <% if user_signed_in? %>
            <li class="nav-item" style="margin-left: 15px;">
              <p class="nav-link">Hello, <%= current_user.username %>!</p>
            </li>
          <% end %>

           <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= asset_path "profile.gif" %>"/>

             <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "login", new_user_session_path, class: "nav-link" %>
              <a class="dropdown-item" href="#">Another action</a>
              <%= link_to "logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
              </li>
             </ul>

    </div>
    </div>
  </div>
</div>
